@media (min-width: 920px) {
  .toast {
    width: fit-content;
    max-width: 50vw;
  }
}

.commentForm {
  width: 50%; 
}

.toastWrapper {
  position: relative;
  width: 50vw;
  height: 100%;
}

.modalHeaderContainer {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}