.canvasImageContainers {
  position: relative;
  width: max-content;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.canvasImages {
  
  max-height: 70vh;
  padding: 1rem;
  
}

.x {
  position: absolute; 
  background-color: #222;
  border-radius: 2rem;
  color: white;
  top: 1.5rem;
  left: 1.5rem;
}

.x:hover {
  background-color: #000;
}