.boxShadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}


.name {
  font-weight:500;
}.uploadedImage {
  border-radius: 1rem;
  max-width: 100% !important;
  /* max-height: 100% !important;
  width: auto; */
  height: auto;
}



.modalDialog {

  width: 100vw !important;
}

.crudModalBackdrop {
  z-index: 1060 !important;
}

.crudModal {
  z-index: 1065 !important;
}

/* .canvasImageContainers {
  position: relative;
  width: max-content;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.canvasImages {
  
  max-height: 70vh;
  padding: 1rem;
  
}

.x {
  position: absolute; 
  background-color: #222;
  border-radius: 2rem;
  color: white;
  top: 1.5rem;
  left: 1.5rem;
}

.x:hover {
  background-color: #000;
} */