.boxShadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}

.avatar {
  border: 0.5px solid #666;
  border-radius: 50%;
  width: 7vh;
  height: 7vh;
}

.name {
  font-weight:500;
}

.iconMargin {
  margin-right: 0.5em;
}

.greyedOutText {
  color: #666;
  font-size: 0.875em;
}

.icons {
  width: 1.3em;
  height: 1.3em;
}

.uploadedImageContainer {
  height: 5vh;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.uploadedImage {
  width: 100%;
  height: 100%;
}

.cardBodyRow {
  min-height: 5vh;
}

.modalDialog {

  width: 100vw !important;
}