.boxShadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}

.avatar {
  border: 0.5px solid #666;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
}

.name {
  font-weight:500;
}

.iconMargin {
  margin-right: 0.5em;
}

.greyedOutText {
  color: #666;
  font-size: 0.875em;
}

.icons {
  width: 1.3em;
  height: 1.3em;
}

.uploadedImageContainer {
  max-height: 30vh;
}

.uploadedImage {
  border-radius: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.cardBodyRow {
  min-height: 5vh;
}

.modalDialog {

  width: 100vw !important;
}

.canvasImageContainers {
  position: relative;
  width: max-content;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.canvasImages {
  
  max-height: 70vh;
  padding: 1rem;
  
}

.x {
  position: absolute; 
  background-color: #222;
  border-radius: 2rem;
  color: white;
  top: 1.5rem;
  left: 1.5rem;
}

.x:hover {
  background-color: #000;
}